{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block header_icons %}
<!-- No Icons on Login Page -->
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login_Style.css') }}">
{% endblock %}

{% block flash_messages %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="msg-wrapper">
            <div class="msg" id="flash-msg">{{ messages[0] }}</div>
        </div>
    {% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="container-login">
    <div class="card card-login">
        <div class="header-row">
            <h2>Login</h2>
        </div>

        <form method="POST" action="/login">
            <input name="login" placeholder="Username" required>
            <input name="password" placeholder="Password" type="password">

            <div class="form-actions">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='script/message.js') }}"></script>
{% endblock %}