{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block header_icons %}
<!-- No Icons on Login Page -->
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login_Style.css') }}">
{% endblock %}

{% block content %}
<div class="container-login">
    <div class="card card-login">
        <div class="header-row">
            <h2>Login</h2>
        </div>

        <form method="POST" action="/login">
            <input name="login" placeholder="Username" required>
            <input name="password" placeholder="Password" type="password">

            <div class="form-actions">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}