{% extends "base.html" %}

{% block title %}{{ video.name }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/player_Style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/modal.css') }}">
{% endblock %}

{% block header_icons %}
<a href="{{ url_for('index') }}" class="logo-btns media-btn" title="Media Library">
    <img src="/static/icons/media-player.png" alt="media">
</a>
{% endblock %}

{% block content %}
<div class="player-container">
    <div class="player-wrapper">
        <video id="player" data-video-id="{{ video.id }}" controls preload="auto" playsinline>
            <source src="{{ url_for('media_Stream', video_id=video.id) }}">

            {% if video.subtitle_path %}
            <track
                label="{{ video.subtitle_label or 'English' }}"
                kind="subtitles"
                srclang="{{ video.subtitle_lang or 'en' }}"
                src="{{ url_for('media_Subtitles', video_id=video.id) }}">
            {% endif %}

            Your Browser does not Support Video Playback.
        </video>

        <div class="controls-overlay">
            {% if session.role == "admin" %}
                <button class="cache-btn" id="videoSettingsBtn">
                    <img src="/static/icons/settings.png" alt="Settings">
                </button>
            {% endif %}

            <!-- Caption -->
            {% if video.subtitle_path %}
                <a id="subtitle-btn" class="active" role="button" aria-label="Toggle Subtitles">
                    CC
                </a>
            {% endif %}

            <!-- Resolution -->
            {% if video.sources and video.sources|length > 1 %}
            <select id="qualitySelect" data-default-quality="{{ video.default_quality }}">
                {% for quality in video.sources.keys() %}
                    <option value="{{ quality }}"
                            {% if quality == video.default_quality %}selected{% endif %}>
                        {{ quality }}
                    </option>
                {% endfor %}
            </select>
            {% endif %}

            <!-- Download -->
            <a id="downloadBtn" href="{{ url_for('media_Download', video_id=video.id) }}" class="download-btn">
                Download
            </a>

            <!-- Spped -->
            <select id="speed">
                <option value="0.25">0.25x</option>
                <option value="0.5">0.5x</option>
                <option value="0.75">0.75x</option>
                <option value="1" selected>1x</option>
                <option value="1.25">1.25x</option>
                <option value="1.5">1.5x</option>
                <option value="1.75">1.75x</option>
                <option value="2">2x</option>
            </select>
        </div>
    </div>

    <div class="playback-stats">
        <span>Buffer: <span id="buffer-health">--</span></span>
        <span>Network: <span id="network-status">--</span></span>
    </div>

    <div class="video-info">
        <div class="info-row">
            <span class="info-label">File:</span>
            {{ video.name }}
        </div>

        <div class="info-row">
            <span class="info-label">Size:</span>
            <span id="size">{{ video.metadata.size_mb }} MB</span>
        </div>

        <div class="info-row">
            <span class="info-label">Resolution:</span>
            <span id="resolution">{{ video.metadata.resolution }}</span>
        </div>

        <div class="info-row">
            <span class="info-label">Duration:</span>
            <span id="duration">{{ video.metadata.duration }}</span>
        </div>

        <div class="info-row">
            <span class="info-label">Available Resolutions:</span>
            <span id="available-resolutions">
                {{ video.sources.keys() | join(" | ") }}
            </span>
        </div>

        <div class="info-row">
            <span class="info-label">Video Bitrate:</span>
            <span id="bitrate">
                {{ video.metadata.bitrate_mbps }} Mbps
            </span>
        </div>
    </div>

    <div class="nav-buttons">
        {% if prev_video %}
            <a class="nav-btn" href="{{ url_for('media_Player', video_id=prev_video.id) }}">
                <span class="nav-label prev">{{ prev_video.name }}</span>
                
            </a>
        {% endif %}
        {% if next_video %}
            <a class="nav-btn" href="{{ url_for('media_Player', video_id=next_video.id) }}">
                <span class="nav-label next">{{ next_video.name }}</span>
            </a>
        {% endif %}
    </div>
</div>

<!-- Metadata Cache Modal -->
{% if session.role == "admin" %}
    <div id="videoSettingsModal" class="modal">
        <div class="modal-content">
            <form method="POST" action="{{ url_for('update_Video_Settings', video_id=video.id) }}" class="modal-body">
                <input type="text" name="category" value="{{ video.category }}", placeholder="Category">
                <input type="text" name="tags" value="{{ (video.tags or []) | join(', ') }}", placeholder="Tags">
                <input type="text" name="allowed_roles" value="{{ video.allowed_roles | join(', ') }}" placeholder="Allowed Roles">

                <div class="modal-actions">
                    <button type="button" class="modal-btn cancel" onclick="closeVideoSettingsModal()">
                        Cancel
                    </button>

                    <button type="submit" class="modal-btn">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='script/player.js') }}"></script>
{% endblock %}